.THIS .product-item {
	color: inherit;
	text-decoration: inherit;
}

.THIS .product-item.selected .slds-box,
.THIS .product-item:hover .slds-box {
	border: 1px solid #1589ee;
	box-shadow: inset 0 0 0 1px #1589ee;
}

.THIS .product-item .qty-input {
	width: 60px;
}
